.App {
  text-align: center;
  width: 100%;
  background: red;
  height: 100%;
  min-height: 100vh;
}

.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  background: green;
  height: 100%;
  min-height: 100vh;
}